<h1>All Advertisments</h1>
<% @advertisments.each do |advertisment| %>
<div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to "$ #{advertisment.price} - #{advertisment.title}", advertisment %>
      </h4>
    </div>
  </div>
<% end %>
