
<div class="pull-left"><%= image_tag fav_post.user.avatar_url(50) %></div>
<div style="margin-left:60px;padding-top:5px;"><%= "#{fav_post.title}" %> <br /><%= "Post votes: #{fav_post.points} Commments: #{fav_post.comments.count} "%></div>
<div style="clear:both"></div>
<br />
