<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<%= link_to '<button class="social-btn">Follow my favorite page</button>'.html_safe, "https://www.facebook.com/trybloc" %>
<p class="about-page">Here is another button using the helper method: </p>
<%= link_to 'Follow my favorite page', "https://www.facebook.com/trybloc", class:"social-btn" %>
