// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  text-align: center;
  width: 200px;
  background-color: blue;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

a.social-btn:hover {
  text-decoration: none;
  color:white;
}

p.about-page {
  padding-top: 20px;
}
